/* line 1, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
.schedule-container {
  padding: 0 0 30px 10px;
  width: 80%;
  height: auto;
  margin: 80px auto;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  border-color: rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

/* line 14, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
.schedule-container h1 {
  margin: 30px;
}

/* line 18, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
.month-container .month {
  width: 90%;
  border-radius: 8px;
  padding: 5px 10px;
  margin: 1px auto;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  font-size: 28px;
}

/* line 30, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
.checkbox-content.schedule {
  margin-left: 70px;
  line-height: 1.5;
  display: block;
  padding: 10px 0;
}

/* line 37, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
.checkbox-content .checkbox-content-list .project-title {
  line-height: 1.9;
  margin-left: 10px;
}

/* line 42, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
.checkbox-content-list .title-link {
  font-size: 18px;
  font-weight: bold;
}

/* line 47, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
ul.checkbox-content-list.schedule.group {
  justify-content: center;
}

/* line 50, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
.checkbox-content-list .title-link, .checkbox-content-list .title-link {
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
}

/* line 56, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
.checkbox-content-list .project-title {
  font-size: 16px;
  font-weight: lighter;
  color: #000;
  display: block;
}

/* line 63, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
.checkbox-content-list span.date.short {
  margin-right: 7px;
}

/* line 67, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
.month.October {
  background: #f3dbd3;
  color: #d16f50;
}

/* line 75, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.October .month.October {
  background: #f3dbd3;
  color: #d16f50;
}
/* line 80, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.October span.date.short {
  border-color: #d16f50;
}
/* line 84, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.October div.date-header {
  background: #d16f50;
}

/* line 90, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.November .month.November {
  background: #eae5e3;
  color: #8d6e63;
}
/* line 95, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.November span.date.short {
  border-color: #8d6e63;
}
/* line 99, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.November div.date-header {
  background: #8d6e63;
}

/* line 106, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.December .month.December {
  background: #dceefc;
  color: #2196f3;
}
/* line 111, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.December span.date.short {
  border-color: #2196f3;
}
/* line 115, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.December div.date-header {
  background: #2196f3;
}

/* line 121, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.January .month.January {
  background: #d8f1fd;
  color: #03a9f4;
}
/* line 126, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.January span.date.short {
  border-color: #03a9f4;
}
/* line 130, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.January div.date-header {
  background: #03a9f4;
}

/* line 136, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.February .month.February {
  background: #d8f4f8;
  color: #00bcd4;
}
/* line 141, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.February span.date.short {
  border-color: #00bcd4;
}
/* line 145, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.February div.date-header {
  background: #00bcd4;
}

/* line 151, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.March .month.March {
  background: #d8eeec;
  color: #009688;
}
/* line 156, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.March span.date.short {
  border-color: #009688;
}
/* line 160, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.March div.date-header {
  background: #009688;
}

/* line 166, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.April .month.April {
  background: #e3f2e3;
  color: #4caf50;
}
/* line 171, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.April span.date.short {
  border-color: #4caf50;
}
/* line 175, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.April div.date-header {
  background: #4caf50;
}

/* line 181, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.May .month.May {
  background: #e7f3db;
  color: #8bc34a;
}
/* line 185, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.May span.date.short {
  border-color: #8bc34a;
}
/* line 189, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.May div.date-header {
  background: #8bc34a;
}

/* line 195, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.April .month.April {
  background: #e3f2e3;
  color: #4caf50;
}
/* line 199, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.April span.date.short {
  border-color: #4caf50;
}
/* line 203, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.April div.date-header {
  background: #4caf50;
}

/* line 209, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.June .month.June {
  background: #f2f6cd;
  color: #afb42b;
}
/* line 213, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.June span.date.short {
  border-color: #afb42b;
}
/* line 217, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.June div.date-header {
  background: #afb42b;
}

/* line 223, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.July .month.July {
  background: #fef5d8;
  color: #ffc107;
}
/* line 227, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.July span.date.short {
  border-color: #ffc107;
}
/* line 231, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.July div.date-header {
  background: #ffc107;
}

/* line 237, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.August .month.August {
  background: #feefd8;
  color: #ff9800;
}
/* line 241, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.August span.date.short {
  border-color: #ff9800;
}
/* line 245, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.August div.date-header {
  background: #ff9800;
}

/* line 251, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.September .month.September {
  background: #fee5dd;
  color: #ff7043;
}
/* line 255, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.September span.date.short {
  border-color: #ff7043;
}
/* line 258, /Users/dzhenidilcheva/Documents/Git/TaskChamp/app/assets/stylesheets/schedule.css.scss */
div.month-container.September div.date-header {
  background: #ff7043;
}
