/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require snow
 */


  * {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    font: inherit;
    background: inherit;
    color: inherit;
    vertical-align: inherit;
    text-align: inherit;
    box-sizing: inherit;
    text-decoration: inherit;

  }

 .group {
   content: "";
   display: block;
   clear: both;
   overflow: auto;
 }

 body {
   background-color: #f5f8fa;
   font-family: 'Raleway', sans-serif;
 }

 .body-home {
   background-color: #f5efe6;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
 }

 .landing-home {
   background-color: #fff;
   font-family: 'Raleway', sans-serif;
 }

 div {
   display: block;
 }

 ul {
   list-style: none;
   display: block;
 }

 a {
   text-decoration: none;
   vertical-align: baseline;
 }

 h1 {
   font-size: 29px;
   text-align: center;
   display:block;
   font-weight: bold;
 }

 h2 {
   text-align: center;
   display:block;
 }

 h3 {
   line-height: 1.2;
   display: block;
   font-size: 18px;
   font-weight: bold;
 }

 button {
   cursor: pointer;
   font-size: 16px;
   font-weight: bold;
   padding: 8px 16px;
   text-align: center;
   vertical-align: middle;
   line-height: normal;
   display: block;
   border: solid;
   border-bottom-width: 2px;
   border-radius: 4px;
 }

 .home-button {
      cursor: pointer;
   background: #3cb371;
   border-color: #3cb371;
   border-bottom-color: rgba(0,0,0,0.15);
   color: #fff;
   font-weight: 400;
 }

 .home-button:active {
   background: #2f8d59;
   border-color: #2f8d59;
   border-shadow: 0 0 8px rgba(0,0,0,0.25);
   color: #fff;
   font-weight: 400;
      cursor: pointer;
 }

 .small.home-button {
   padding: 6px 10px;
   width: auto;
   height: auto;
   margin-top: 17px;
 }

 .big.home-button {
   width: 165px;
   margin: 0 auto;
 }

 .button {
    cursor: pointer;
 }

 .cancel.home-button {
   display: inline-block;
   margin-left: 5px;
   background-color: #a6a6a6;
   border-color: #a6a6a6;
   border-bottom-color: rgba(0,0,0,0.15);
 }

 input {
    vertical-align: middle;
    display: block;
 }

 input, select {
   vertical-align: middle;
 }

 input[type="submit"] {
   text-align: center;
   cursor: default;
 }

 .submit {
   border-radius: 8px;
   border: 1px solid #5c9425;
   color: #fff;
   font-size: 16px;
   font-weight: bold;
   margin: 0;
   padding: 10px 30px;
   text-shadow: 0 1px 1px rgba(0,0,0,0.2);

 }
