
.projects-index-container {
  display: block;
  box-sizing: border-box;
  padding: 50px 60px;
  width: 768px;
  margin: 0 auto;
  height: auto;
  background: white;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 #bfbfbf;
}

.projects-index-container a {
  text-align: center;
  display: block;
}

.projects-index-container h1 {
  margin: 30px auto;

}

.projects-index-container .big.home-button {
  margin: 0 auto;
}

.project-item {
  display: block;
}

ul.todos {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

ul.todos.remaining {
  min-height: 30px;
  margin-top: 10px;
}
ul.todos.completed {
  margin-top: 10px;
}
.project-item-header {
  display: block;
  position: relative;
  padding: 6px 0;
  overflow-wrap: normal;
}

.project-item-description {
  overflow-wrap: normal;
  margin-bottom: 9px;
}

.projects-list {
  padding: 20px;
}

.project-item {
  padding: 10px 0;
}

.project-item-header button.small.home-button {
  background-color: #fff;
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  border-color: rgba(0,0,0,0.15);
  color: #000;
  margin: 9px 0;
}

.project-item-header h3 {
  text-decoration: underline;
  color: #1b6ac9;
  margin-bottom: 20px;
}

.project-item-header h3 a {
  text-align: left;
}
