.projects-index-body {
  background-color: #f5efe6;
  display: block;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 #bfbfbf;
  padding-top: 20px;
}

.projects-index-body .button {
  background: #3cb371;
  border-color: #3cb371;
  border-bottom-color: rgba(0,0,0,0.15);
  color: #fff;
  font-weight: 400;
}

.projects-index-body .button:active {
  background: #2f8d59;
  border-color: #2f8d59;
  border-shadow: 0 0 8px rgba(0,0,0,0.25);
  color: #fff;
  font-weight: 400;
}

.projects-index-container {
  display: block;
  box-sizing: border-box;
  padding: 50px 60px;
  width: 768px;
  margin: 0 auto;
  height: auto;
  background: white;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 #bfbfbf;
}

.projects-index-container a {
  text-align: center;
  display: block;
}

.projects-index-container h1 {

}

.projects-index-container .button {
  width: 162px;
  margin: 0 auto;
}

.project-item {
  display: block;
}
.project-item-header {
  display: block;
  position: relative;
  padding: 6px 0;
  overflow-wrap: normal;
}

.project-item-description {
  overflow-wrap: normal;

}

.projects-list {
  padding: 20px;
}

.project-item {
  padding: 10px 0;
}

.project-item-header a {
}

.project-item-header h3 {
  text-decoration: underline;
  color: #1b6ac9;
}
