.schedule-container {
  padding: 0 0 30px 10px;
  width: 80%;
  height: auto;
  margin: 80px auto;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  border-color: rgba(0,0,0,0.15);
  overflow: hidden;
}

.schedule-container h1 {
  margin: 30px;
}

.month-container .month {
  width: 90%;

  border-radius: 8px;
  padding: 5px 10px;
  margin: 1px auto;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  font-size: 28px;
}

.checkbox-content.schedule {
  margin-left: 50px;
  line-height: 1.5;
}

.checkbox-content-list .title-link {
  font-size: 18px;
  font-weight: bold;

}
ul.checkbox-content-list.schedule.group {
  justify-content: center;
}
.checkbox-content-list .title-link, .checkbox-content-list .title-link {
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
}

.checkbox-content-list .project-title {
  font-size: 16px;
  font-weight: lighter;
  color: #000;
  display: block;
}

.checkbox-content-list span.date.short {
  margin-top: 7px;
  margin-right: 7px;
}
.month.October {
  background: #f3dbd3;
  color: #d16f50;
}

.month.November {
  background: #eae5e3;
  color: #8d6e63;
}
.month.December {
  background: #dceefc;
  color: #2196f3;
}
.month.January {
  background: #d8f1fd;
  color: #03a9f4;
}
.month.February {
  background: #d8f4f8;
  color: #00bcd4;
}
.month.March {
  background: #d8eeec;
  color: #009688;
}
.month.April {
  background: #e3f2e3;
  color: #4caf50;
}
.month.May {
  background: #e7f3db;
  color: #8bc34a;
}
.month.April {
  background: #e3f2e3;
  color: #4caf50;
}
.month.June {
  background: #f2f6cd;
  color: #afb42b;
}
.month.July {
  background: #fef5d8;
  color: #ffc107;
}
.month.August {
  background: #feefd8;
  color: #ff9800;
}
.month.September {
  background: #fee5dd;
  color: #ff7043;
}
