.welcome-nav {
  width: 900px;
  margin: 0 auto;
  display: block;
  padding: 10px;
  height: 40px;
}

.welcome-nav img {
  float: left;
  height: 40px;
  width: auto;
}

.welcome-nav .logo {
  float: left;
  font-size: 28px;
  font-weight: 700;
  margin-left: 10px
}

.welcome-nav .button {
  float: right;
  padding: 8px 16px;
  background: #1b6ac9;
  color: #fff;
  font-size: 14px;
  border-bottom-width: 3px;
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.welcome-nav .button:visited {
  color: #fff;
}

.intro-container {
  margin-bottom: 50px;
  display: block;
  padding: 20px 0;
}

.intro-container h1, .intro-container p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.intro-container p {
  width: 840px;
  line-height: 1.3;
}




.signup-container {
  width: 900px;
  margin: 0 auto;
  display: box;
}

.signup-illustration img {
  float: left;
  width: 475px;
  height: 500px;
}

.signup-form {
  margin-left: 20px;
  float: left;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
}

.signup-form input, select {
    width: 264px;
    margin-bottom: 10px;
}

.signup-form label, [type="submit"] {
  cursor: inherit;
  margin-bottom: 10px;
}

.signup-form label > p {
  display: block;
  font-size: 13px;
  line-height: 1.3;
}

.signup-form input {
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #bfbfbf;
  display: block;
  font-size: 15px;
  padding: 8px 10px;

}

.signup-form [type="submit"] {
  padding: 10px 30px;
  display: inline-block;
  font-weight: 600;
  background: -webkit-gradient(linear, left top, left bottom, from(#8fc857), to(#5c9425));
}

.signup-form select {
  background: transparent;
  border: 1px solid #bfbfbf;
  font-size: 13px;
  height: 38px;
  padding: 8px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
