/*.checkbox {
  display: block;
  padding: 4px 0 4px 32px;
  position: relative;
}*/

.checkbox {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  vertical-align: top;
  position: relative;
}

.checkbox:checked {
  width: 16px;
  height: 16px;

}

.checkbox-label {
  background: transparent;
  position: absolute;
  left: 0;
  top: 5px;
  cursor: pointer;
}

.checkbox-input {
  display: inline-block;
  width: 20px;
  height: 20px;
  /*border: 1px solid rgba(0, 0, 0, 0.25);*/
  background-color: #fff;
  /*border-radius: 2px;*/
  vertical-align: top;
  margin-top: 3px;
}

.todo-item.checkbox-input {

}

.todo-form {
  padding: 10px 15px 15px 37px;
  margin-left: -37px;
  list-style: none;
}

.expandable-todo-form input {
  width: auto;
}

.expandable-todo-form .autocomplete {

}

.todo-item {
  padding: 9px 0;
}

span.checkbox-content {
  display: inline-block;
}

.checkbox-content-list li {
  float: left;
  padding-right: 5px;
}

.todo-form.buttons-container {

}

.todo-form button {
  display: inline-block;
}

.todoer {
  color: #aa9c84;
  white-space: nowrap;
}

span.date.short {
  border-color: #ff7043;
}

.date {
  display: inline-block;
  width: 28px;
  height: 28px;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  text-align: center;
  font-size: 11px;
  line-height: 1.2;
  overflow: hidden;
}

.date-header {
  background: #ff7043;
  color: #fff;
}

li .todo-form {
}

.autocomplete {
  position: relative;
  cursor: text;
  color: #303030;
}

.autocomplete::after {
  content: '';
  display: block;
  clear: left;
}

.autocomplete li {

}
.radio-label {
  position: relative;
  display: block;
  padding-left: 30px;
}
input.radio-input {
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
}


input.radio-input:checked {
  border: 2px solid #3cb371;
}

input.react-date-field__input {
  border: none;
}

.react-flex.react-date-field.my-date-picker.react-date-field--theme-default.react-date-field--picker-position-bottom.react-date-field--invalid.react-flex-v2--align-items-center.react-flex-v2--row.react-flex-v2--display-inline-flex {
  position: absolute;
  bottom: 67px;
  left: 120px;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);

}
.quill.custom-quill.container {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}
.quill-toolbar.custom-quill.toolbar.ql-toolbar.ql-snow {
  background: #fff;
  font-family: inherit;
  padding: 2px 8px;
}

.quill-contents.ql-container.ql-snow {
  font-family: inherit;
  background: #fff;
  min-height: 100px;
}

.details-anchor {
  position: relative;
}

.button.small.cancel.home-button {
  margin-left: 3px;
}
