.checkbox {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0,0,0,0.25);
  background-color: #fff;
  border-radius: 2px;
  vertical-align: top;
}

.checkbox:checked {
  width: 16px;
  height: 16px;
  
}
