.top-nav.wrapper {
  position: relative;
}

.top-nav {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(251,248,245,0.98);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 6;
  padding: 3px 0;
  font-size: 14px;
}

.top-nav-ribbon {

}

.top-nav-list {
  float: left;
}

.small-logo img {
  height: 35px;
  width: auto;
  border-right: none;
  padding: 0 10px;
  padding-right: 50px;
}


.top-nav a, button {
  padding: 10px;
  display: inline-block;
}


.top-nav li {
  float: left;
  padding: 0 3px;
  border-right: 1px solid rgba(0,0,0,0.1);
}

.top-nav li:first-child {
  border: none;
}


.top-nav .user-thumbnail {

}


.top-nav .logout {
  padding: 9px;
  font-size: inherit;
  font-weight: 400;
  float: right;
  border: 0;
  border: 1px solid rgba(0,0,0,0.1);

}
